.u-kilo    { font-size: 36px; }
.u-alpha   { font-size: 30px; }
.u-beta    { font-size: 24px; }
.u-gamma   { font-size: 22px; }
.u-delta   { font-size: 20px; }
.u-epsilon { font-size: 18px; }
.u-zeta    { font-size: 16px; }
.u-milli   { font-size: 14px; }
.u-micro   { font-size: 12px; }
.u-nano    { font-size: 11px; }